# Copy this file to .env and change the values as needed

NEO4J_PASSWORD=your_password_here

# Neo4j Connection -- Do not change this or update the docker-compose.yml to reflect the same value
NEO4J_HOST=localhost
NEO4J_USER=neo4j

# Redis Configuration
REDIS_HOST=localhost
